@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@title</title>
    </head>


    <body>
        <section id="top">
            <div class="wrapper">
                <img class="resize" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40ryanberckmans%2Fwhy-i-like-scala-45e65cde3365&psig=AOvVaw30p6DzAWyfD161xONWaQyz&ust=1717270172221000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCIiGrobQuIYDFQAAAAAdAAAAABAz" alt="logo" />
                <h1>Play Hello World Web Tutorial</h1>
            </div>
        </section>
        @content
    </body>

</html>
